<form action="/news/add" method="post">
  <div>
    <label for="title"></label>
    <input id="title" type="text" name="title">
  </div>
  <div>
    <label for="body">Body</label>
    <textarea id="body" name="body" cols="30" rows="10"></textarea>
  </div>
  <input type="submit" value="Create new">
</form>
